.container{
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    gap: 0px 0px;
}

@media(max-width:600px) {
  .container{
    height: 100rem;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10,1fr );
    align-items: stretch;
  }
}